# Build artifacts
/build/
/out/
/bin/
/Release/
/Debug/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake.user

# MSVC
*.sln
*.vcxproj*
*.obj
*.tlog
*.recipe
*.pdb
*.ilk
*.idb
*.exe
*.log

# OS
.DS_Store
Thumbs.db
